[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "3.*"
django-stubs = {extras = ["compatible-mypy"] }
psycopg = "3.*"

[dev-packages]
black = "==24.*"
invoke = "==2.*"
mdformat = "0.*"
mypy = "==1.*"
pylint = "==3.*"
python-dotenv = "==1.*"
djangorestframework-stubs = {extras = ["compatible-mypy"], version = "*"}

[requires]
python_version = "3.12"
