{% extends 'base.html' %}
{% block header %}
    <h1>ClinGen Affiliations Service</h1>
    <nav>
        {% if email %}
            <p>You are logged in as: {{ email }}</p>
            <a href="/logout">Log out</a>
        {% else %}
            <a href="/login">Log in</a>
            <a href="/signup">Sign up</a>
        {% endif %}
    </nav>
{% endblock %}
{% block content %}
    <div class="table-scroll">
        <table>
            <thead>
            <tr>
                <th>Options</th>
                <th>ID</th>
                <th>Name</th>
                <th>Coordinator</th>
                <th>Coordinator Email</th>
                <th>Status</th>
                <th>Type</th>
                <th>Family</th>
                <th>Members</th>
                <th>Approvers</th>
                <th>ClinVar Submitter IDs</th>
            </tr>
            </thead>
            <tbody>
            {% for affiliation in affiliations %}
                <tr>
                    <td>
                        <a href="/edit?affil={{affiliation.id}}">Real edit</a>
                        <button id="edit-button-{{ loop.index }}">Edit</button>
                        <button class="cancel-button" style="display: none;" id="cancel-button-{{ loop.index }}">Cancel</button>
                        <button class="submit-button" style="display: none;" id="submit-button-{{ loop.index }}">Submit</button>
                    </td>
                    <td>{{ affiliation.id }}</td>
                    <td>{{ affiliation.name }}</td>
                    <td id="coord-name-{{ loop.index }}">
                        <div id="cn-cell-input-{{ loop.index }}" style="display: none;">
                            <input type='text' value="{{ affiliation.coordinator }}"/>
                        </div>
                        <div id="cn-cell-text-{{ loop.index }}">{{ affiliation.coordinator }}</div>
                    </td>
                    <td id="coord-email-{{ loop.index }}">
                        <div id="ce-cell-input-{{ loop.index }}" style="display: none;">
                            <input type='text' value="{{ affiliation.coordinator_email }}"/>
                        </div>
                        <div id="ce-cell-text-{{ loop.index }}">
                            {{ affiliation.coordinator_email }}
                        </div>
                    </td>
                    <td id="status-{{ loop.index }}">
                        <div id="s-cell-input-{{ loop.index }}" style="display: none;">
                            <input type='text' value="{{ affiliation.status }}"/>
                        </div>
                        <div id="s-cell-text-{{ loop.index }}">
                            {{ affiliation.status }}
                        </div>
                    </td>
                    <td>{{ affiliation.type }}</td>
                    <td>{{ affiliation.family }}</td>
                    <td id="members-{{ loop.index }}">
                        <div id="m-cell-input-{{ loop.index }}" style="display: none;">
                            <input type='text' value="{{ affiliation.members }}"/>
                        </div>
                        <div id="m-cell-text-{{ loop.index }}">
                            {{ affiliation.members }}
                        </div>
                    </td>
                    <td id="approvers-{{ loop.index }}">
                        <div id="a-cell-input-{{ loop.index }}" style="display: none;">
                            <input type='text' value="{{ affiliation.approvers }}"/>
                        </div>
                        <div id="a-cell-text-{{ loop.index }}">
                            {{ affiliation.approvers }}
                        </div>
                    </td>
                    <td>{{ affiliation.clinvar_submitter_ids }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% block javascript %}
        <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
        {% endblock %}
    </div>
{% endblock %}
